<?xml version="1.0"?>

<robot name="crazyflie" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find rotors_description)/urdf/component_snippets.xacro" />
  <!-- Instantiate crazyflie "mechanics" -->
  <xacro:include filename="$(find rotors_description)/urdf/crazyflie.xacro" />

  <!-- Instantiate a controller. -->
  <xacro:controller_plugin_macro namespace="${namespace}" imu_sub_topic="imu" />

  <xacro:if value="$(arg enable_mavlink_interface)">
    <!-- Instantiate mavlink telemetry interface. -->
    <xacro:default_mavlink_interface namespace="${namespace}" imu_sub_topic="imu" rotor_count="4" />
  </xacro:if>

  <!-- Mount an MPU-9250 SMD IMU. -->
  <xacro:mpu9250_smd_imu namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Mount an MPU-9250 SMD Magnetometer. -->
  <xacro:mpu9250_smd_magnetometer namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Mount a LPS25H barometer. -->
  <xacro:lps25h_pressure_sensor namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Mount LPS (Loco Positionning System). -->

  
  <xacro:if value="$(arg enable_ground_truth)">
    <xacro:ground_truth_imu_and_odometry namespace="${namespace}" parent_link="${namespace}/base_link" />
  </xacro:if>

  <xacro:if value="$(arg enable_logging)">
    <!-- Instantiate a logger -->
    <xacro:bag_plugin_macro
      namespace="${namespace}"
      bag_file="$(arg log_file)"
      rotor_velocity_slowdown_sim="${rotor_velocity_slowdown_sim}"
      wait_to_record_bag="$(arg wait_to_record_bag)" />
  </xacro:if>

</robot>