<?xml version="1.0"?>
<model>
  <name>Crazyflie 2.0</name>
  <version>1.0</version>
  <sdf version='1.4'>crazyflie.sdf</sdf>

  <author>
   <name>Franck Djeumou</name>
   <email>frmbouwe@gmail.com</email>
  </author>

  <description>
    This is a model of the Crazyflie 2.0 by bitcraze.
  </description>
</model>